/* Use a non-serif font */
body {
    font-family: Arial, sans-serif;
}

/* Remove bullet points and add custom styles for list items */
.list-group {
    padding-left: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

/* Align ingredient name to the left and amount to the right */
.list-group-item .ingredient-name {
    font-weight: bold;
    flex-grow: 1;
}

.list-group-item .ingredient-amount {
    font-weight: normal;
    text-align: right;
    min-width: 80px;  /* To ensure the amounts have some space */
}
