/* Use a non-serif font */
body {
    font-family: Arial, sans-serif;
}

/* Remove bullet points and add custom styles for list items */
.list-group {
    padding-left: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

/* Align amount first, then ingredient name */
.list-group-item .ingredient-amount {
    font-weight: normal;
    text-align: right;
    padding-right: 15px;
}

.list-group-item .ingredient-name {
    font-weight: bold;
    flex-grow: 1;
}

/* Add margin to the top of the h3 and less space below */
h3 {
    margin-top: 20px;  /* Adds more space above the header */
    margin-bottom: 10px;  /* Reduces space below the header */
}

/* Adjusting the input fields to make them larger and adding space around */
#breadType, #doughWeight {
    padding: 12px 20px; /* Increase padding for larger input fields */
    font-size: 16px;  /* Increase font size */
    width: 100%;  /* Make inputs span full width of their container */
}

.mb-3 {
    margin-bottom: 30px;  /* Adds more space between the input fields and other content */
}
